<%
    Number.prototype.formatMoney = function(c, d, t){
        var n = this, 
        c = isNaN(c = Math.abs(c)) ? 2 : c, 
        d = d == undefined ? "." : d, 
        t = t == undefined ? "," : t, 
        s = n < 0 ? "-" : "", 
        i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))), 
        j = (j = i.length) > 3 ? j % 3 : 0;
        return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
    };
%>
<html>
    <head>
        <meta charset="UTF-8">
        <style>
            .tblRecSched{
                border: black;
                border-collapse: collapse;
            }
            table, th, td {
                border: 1px solid black;
            }
            .tblRecSched td{
                color: black;
                font-size: 11px;
                padding: 5px;
            }
            .tblRecSched thead{
                text-transform: uppercase;
                background-color: #5D0000;
                font-size: 13px;
            }
            .tblRecSched th{
                color: white;
            }
            #pageHeader{
                text-align:center;
                padding-bottom: 0px;
            }
            .total{
                font-weight: 700;
            }
        </style>
    </head>
    <body style="padding-left: 50px; padding-right: 50px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
        <center>
            <div id="pageHeader">
                <h1 style="line-height: 5px">SOCIALITES EXCELLENT DRIVING</h1>
                <h5>Mayon Street Corner, Maria Clara, Quezon City<br>
                    Andre Salangsang - Prop. * VAT Reg. TIN: 111-222-333-444<br>
                    Tels.: 741-7185/745-2962
                </h5><hr>
            </div>
            <h4 style="text-transform: uppercase;">GROSS INCOME: OVERALL REPORT<br><%# SED-Quezon City (Main) |  %><%=dateStart + (dateEnd != dateStart ? " - " + dateEnd : "")%></h4>
            <h4 style="text-align: left">TUITION/ENROLLMENT FEE</h4>
            <table class="table tblRecSched" width="100%">
                <thead>
                    <tr>
                        <th>Branch</th> 
                        <th>Total Amount</th>
                        <th>Total Payment</th>
                        <th>Total Balance</th>
                    </tr>
                </thead>
                <tbody>
                    <%
                        var html = "";
                        tuition.transaction.forEach((e,i)=>{
                            html += "<tr>";
                            html += "<td>"+ e.branch.name +"</td>";
                            html += "<td>"+ e.total.amount.formatMoney(2) +"</td>";
                            html += "<td>"+ (e.total.amount - e.total.balance).formatMoney(2) +"</td>";
                            html += "<td>"+ e.total.balance.formatMoney(2) +"</td>";
                            html += "</tr>";
                        });
                        html += "<tr>";
                        html += "<td class='total'>TOTAL</td>";
                        html += "<td class='total'>"+ tuition.total.amount.formatMoney(2) +"</td>";
                        html += "<td class='total'>"+ (tuition.total.amount - tuition.total.balance).formatMoney(2) +"</td>";
                        html += "<td class='total'>"+ tuition.total.balance.formatMoney(2) +"</td>";
                        html += "</tr>";
                    %>
                    <%-html%>
                </tbody>
            </table>

            <h4 style="text-align: left">CERTIFICATE FEE</h4>
            <table class="table tblRecSched" width="100%">
                <thead>
                    <tr>
                        <th>Branch</th> 
                        <th>Total Amount</th>
                        <th>Total Payment</th>
                        <th>Total Balance</th>
                    </tr>
                </thead>
                <tbody>
                    <%
                        var html = "";
                        certificate.transaction.forEach((e,i)=>{
                            html += "<tr>";
                            html += "<td>"+ e.branch.name +"</td>";
                            html += "<td>"+ e.total.amount.formatMoney(2) +"</td>";
                            html += "<td>"+ (e.total.amount - e.total.balance).formatMoney(2) +"</td>";
                            html += "<td>"+ e.total.balance.formatMoney(2) +"</td>";
                            html += "</tr>";
                        });
                        html += "<tr>";
                        html += "<td class='total'>TOTAL</td>";
                        html += "<td class='total'>"+ certificate.total.amount.formatMoney(2) +"</td>";
                        html += "<td class='total'>"+ (certificate.total.amount - certificate.total.balance).formatMoney(2) +"</td>";
                        html += "<td class='total'>"+ certificate.total.balance.formatMoney(2) +"</td>";
                        html += "</tr>";
                    %>
                    <%-html%>
                </tbody>
            </table>

            <h4 style="text-align: left">LICENSING APPLICATION ASSISTANCE FEE</h4>
            <table class="table tblRecSched" width="100%">
                <thead>
                    <tr>
                        <th>Branch</th> 
                        <th>Total Amount</th>
                        <th>Total Payment</th>
                        <th>Total Balance</th>
                    </tr>
                </thead>
                <tbody>
                    <%
                        var html = "";
                        license.transaction.forEach((e,i)=>{
                            html += "<tr>";
                            html += "<td>"+ e.branch.name +"</td>";
                            html += "<td>"+ e.total.amount.formatMoney(2) +"</td>";
                            html += "<td>"+ (e.total.amount - e.total.balance).formatMoney(2) +"</td>";
                            html += "<td>"+ e.total.balance.formatMoney(2) +"</td>";
                            html += "</tr>";
                        });
                        html += "<tr>";
                        html += "<td class='total'>TOTAL</td>";
                        html += "<td class='total'>"+ license.total.amount.formatMoney(2) +"</td>";
                        html += "<td class='total'>"+ (license.total.amount - license.total.balance).formatMoney(2) +"</td>";
                        html += "<td class='total'>"+ license.total.balance.formatMoney(2) +"</td>";
                        html += "</tr>";
                    %>
                    <%-html%>
                </tbody>
            </table>
        </center>
        <div style="width: 100%; align-items: right; margin-top: 10px"><hr>
            <h5 style="text-transform: uppercase; text-align: right">Overall Amount: &#8369;<%=total.amount.formatMoney(2)%><br>Overall Balance: &#8369;<%=total.balance.formatMoney(2)%></h5>
            <hr width="40%" align="right">
            <h5 class="total" style="text-transform: uppercase; text-align: right">Overall Income (Tuition/Enrollment): &#8369;<%=(tuition.total.amount - tuition.total.balance).formatMoney(2)%><br>Overall Income (Certificate): &#8369;<%=(certificate.total.amount - certificate.total.balance).formatMoney(2)%><br>Overall Income (Licensing Application Assistance): &#8369;<%=(license.total.amount - license.total.balance).formatMoney(2)%></h5>
            <hr width="40%" align="right">
            <h5 style="text-transform: uppercase; text-align: right; font-weight: 1000;">Overall Gross Income: &#8369;<%=total.income.formatMoney(2)%></h5>
        </div>
        <div id="pageFooter"></div>
    </body>
</html>