<html>
    <head>
        <meta charset="UTF-8">
        <style>
            .tblRecSched{
                border: black;
                border-collapse: collapse;
            }
            table, th, td {
                border: 1px solid black;
            }
            .tblRecSched td{
                color: black;
                font-size: 11px;
                padding: 5px;
            }
            .tblRecSched thead{
                text-transform: uppercase;
                background-color: #5D0000;
                font-size: 13px;
            }
            .tblRecSched th{
                color: white;
            }
            #pageHeader{
                text-align:center;
                padding-bottom: 0px;            
            }
        </style>
    </head>
    <body style="padding-left: 50px; padding-right: 50px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
        <center>
            <div id="pageHeader">
                <h1 style="line-height: 5px">SOCIALITES EXCELLENT DRIVING</h1>
                <h5>Mayon Street Corner, Maria Clara, Quezon City<br>
                    Andre Salangsang - Prop. * VAT Reg. TIN: 111-222-333-444<br>
                    Tels.: 741-7185/745-2962
                </h5><hr>
            </div>
            <h4 style="text-transform: uppercase;">STUDENTS: ENROLLEES REPORT<br> <%=branch + " | " %><%=dateStart + (dateEnd != dateStart ? " - " + dateEnd : "")%></h4><br>
            <table class="table tblRecSched" width="100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Branch</th>
                        <th>Course</th>
                        <th>Special</th>
                        <th>Date Enrolled</th>
                    </tr>
                </thead>
                <tbody>
                <%
                    var html = "";
                    var count = 1;
                    record.forEach((e,i)=>{
                        e.data.course.forEach((e1,i1)=>{
                            html += "<tr>";
                            html += "<td>"+ count +"</td>";
                            html += "<td>"+ e.data.info.fullname.replace(/_/g, " ") +"</td>";
                            html += "<td>"+ e.data.branch +"</td>";
                            html += "<td>"+ e.data.courseName[i1].name +"</td>";
                            html += "<td>"+ e.data.courseName[i1].special +"</td>";
                            html += "<td>"+ (e.status == 2 ? e.dateSubmit : "-----") +"</td>";
                            html += "</tr>";
                            count++;
                        });
                    });
                %>
                <%-html%>
                    <!--<tr>
                        <td>1</td>
                        <td>Graciella C. Tatel</td>
                        <td>SED-Quezon City (Main)</td>
                        <td>CRS-M001</td>
                        <td>No</td>
                        <td>09-20-2018</td> <%# display "---" if not enrolled/declined/rmeoved from list %>
                    </tr>-->
                </tbody>
            </table><br>
        </center>
        <div style="width: 100%; align-items: right;">
            <h5 style="text-transform: uppercase; text-align: right">Total Enrollees: <%=total.count%><br>Rejected/Removed: <%=total.reject%></h5>
            <hr width="30%" align="right">
            <h5 style="text-transform: uppercase; text-align: right">Total Enrolled Students: <%=total.count - total.reject%></h5>
        </div>
        <div id="pageFooter"></div>
    </body>
</html>
