<html>
    <head>
        <meta charset="UTF-8">
        <style>
            .tblRecSched{
                border: black;
                border-collapse: collapse;
            }
            table, th, td {
                border: 1px solid black;
            }
            .tblRecSched td{
                color: black;
                font-size: 11px;
                padding: 5px;
            }
            .tblRecSched thead{
                text-transform: uppercase;
                background-color: #5D0000;
                font-size: 13px;
            }
            .tblRecSched th{
                color: white;
            }
            #pageHeader{
                text-align:center;
                padding-bottom: 0px;            
            }
        </style>
    </head>
    <body style="padding-left: 50px; padding-right: 50px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
        <center>
            <div id="pageHeader">
                <h1 style="line-height: 5px">SOCIALITES EXCELLENT DRIVING</h1>
                <h5>Mayon Street Corner, Maria Clara, Quezon City<br>
                    Andre Salangsang - Prop. * VAT Reg. TIN: 111-222-333-444<br>
                    Tels.: 741-7185/745-2962
                </h5><hr>
            </div>
            <h4 style="text-transform: uppercase;">INSTRUCTORS: OVERALL PERFORMANCE EVALUATION REPORT<br><%=dateStart + (dateEnd != dateStart ? " - " + dateEnd : "")%></h4><br>
            <table class="table tblRecSched" width="100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>ID</th>
                        <th>Instructor Name</th>
                        <th>Students Handled</th>
                        <th>Evaluation Percentage</th>
                    </tr>
                </thead>
                <tbody>
                <%
                    var html = "";
                    records.forEach((e,i)=>{
                        html += "<tr>";
                        html += "<td>"+ (i+1) +"</td>";
                        html += "<td>"+ e.instID +"</td>";
                        html += "<td>"+ e.instructorName.replace(/_/g, " ") +"</td>";
                        html += "<td>"+ e.count +"</td>";
                        html += "<td>"+ e.evaluation +"/50 ("+ e.grade +"%)</td>";
                        html += "</tr>";
                    });
                %>
                <%-html%>
                    <%# <tr>
                        <td>1</td>
                        <td>INST-004004</td>
                        <td>Graciella C. Tatel</td>
                        <td>10</td>
                        <td>40/40 (90%)</td>
                    </tr> %>
                </tbody>
            </table><br>
        </center>
        <div style="width: 100%; align-items: right;">
            <h5 style="text-transform: uppercase; text-align: right">Highest Evaluation Percentage: <%=total.highest%>%<br>Lowest Evaluation Percentage: <%=total.lowest%>%</h5>
            <hr width="50%" align="right">
            <h5 style="text-transform: uppercase; text-align: right">Overall Evaluation Percentage (Average): <%=total.average%>%</h5>
        </div>
        <div id="pageFooter"></div>
    </body>
</html>