<%
    Number.prototype.formatMoney = function(c, d, t){
        var n = this, 
        c = isNaN(c = Math.abs(c)) ? 2 : c, 
        d = d == undefined ? "." : d, 
        t = t == undefined ? "," : t, 
        s = n < 0 ? "-" : "", 
        i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))), 
        j = (j = i.length) > 3 ? j % 3 : 0;
        return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
    };
%>
<html>
    <head>
        <meta charset="UTF-8">
        <style>
            .tblRecSched{
                border: black;
                border-collapse: collapse;
            }
            table, th, td {
                border: 1px solid black;
            }
            .tblRecSched td{
                color: black;
                font-size: 11px;
                padding: 5px;
            }
            .tblRecSched thead{
                text-transform: uppercase;
                background-color: #5D0000;
                font-size: 13px;
            }
            .tblRecSched th{
                color: white;
            }
            #pageHeader{
                text-align:center;
                padding-bottom: 0px;            
            }
        </style>
    </head>
    <body style="padding-left: 50px; padding-right: 50px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
        <center>
             <div id="pageHeader">
                <h1 style="line-height: 5px">SOCIALITES EXCELLENT DRIVING</h1>
                <h5>Mayon Street Corner, Maria Clara, Quezon City<br>
                    Andre Salangsang - Prop. * VAT Reg. TIN: 111-222-333-444<br>
                    Tels.: 741-7185/745-2962
                </h5><hr>
            </div>
            <h4 style="text-transform: uppercase;">GROSS INCOME: TUITION/ENROLLMENT REPORT<br><%=locals.branch ? "SED - " + branch : "All Branches"%> | <%=dateStart + (dateEnd != dateStart ? " - " + dateEnd : "")%></h4><br>
            <table class="table tblRecSched" width="100%">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Student Name</th>
                        <th>Course</th>
                        <%-(locals.branch ? "": "<th>Branch</th>")%>
                        <th>OR #</th>
                        <th>Amount</th>
                        <th>Payment</th>
                        <th>Balance</th>
                    </tr>
                </thead>
                <tbody>
                    <%
                        var html = "";
                        if(locals.transaction){
                            transaction.forEach((e,i)=>{
                                html += "<tr>";
                                html += "<td>" + (i+1) + "</td>";
                                html += "<td>" + e.fullname.replace(/_/g, " ") + "</td>";
                                html += "<td>" + e.course + "</td>";
                                html += locals.branch ? "" : ("<td>" + e.branch + "</td>");
                                html += "<td>" + e.ORno + "</td>"; //Add OR#
                                html += "<td>" + e.amount.formatMoney(2) + "</td>";
                                html += "<td>" + e.payment.formatMoney(2) + "</td>";
                                html += "<td>" + e.balance.formatMoney(2) + "</td>";
                            });
                        }
                    %>
                    <%-html%>
                </tbody>
            </table><br>
        </center>
        <div style="width: 100%; align-items: right;">
            <h5 style="text-transform: uppercase; text-align: right">Total Amount: &#8369;<%=total.amount.formatMoney(2)%><br>Total Balance: &#8369;<%=total.balance.formatMoney(2)%></h5>
            <hr width="30%" align="right">
            <h5 style="text-transform: uppercase; text-align: right">Total Income: &#8369;<%=(total.amount - total.balance).formatMoney(2)%></h5>
        </div>
        <div id="pageFooter"></div>
    </body>
</html>